.text-wrapper {
    .label {
        font-size: 16px;
        color: #2d2d2d;
        margin: 0px;
        margin-bottom: 6px;
        text-align: left;
    }

    .text-area {
        border: 1px solid grey;
        padding: 16px;
        border-radius: 8px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
    }
}