.container{
    max-width: 900px;
    display: block;
    margin: auto;
    .input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .input-title {
            width: 40%; 
            border: 1px solid rgba(186, 20, 186, 0.933);
            padding: 12px;
            border-radius: 4px;
            color: rgba(186, 20, 186, 0.933);
            font-size: 14px;
            margin-bottom: 12px;
            box-sizing: border-box;
            outline: none;
        }
        .input-content {
            width: 40%;
            border: 1px solid rgba(186, 20, 186, 0.933);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 12px;
            min-height: 200px;
            margin-bottom: 16px;
            font-size: 14px;
            margin-bottom: 12px;
            outline: none;
        }
        .btn-save {
            padding: 12px 50px;
            border-radius: 4px;
            border: 2px solid rgba(186, 20, 186, 0.933);
            font-size: 14px;
            color: rgba(186, 20, 186, 0.933);
            font-weight: bold;
            text-transform: uppercase;
            outline: none;
        }
    }
}