.create-blog-post {
    .title {
        font-size: 20px;
        font-weight: bold;
        width: 200px;
        // margin-left: 0px;
        // margin-right: auto;
        margin-bottom: 30px;
    }

    .post-header {
        display: flex;
        box-sizing: border-box;

        .header-title {
            // background-color: #7a0f0f;
            width: 50%;
            margin-right: 30px;
        }

        .header-author {
            // background-color: #7ca913;
            width: 50%;
        }
    }

    .button-action {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
}